body {
font-family: 'poppins',  sans-serif;
background-image: url('/src/img/Red\ Black\ Dynamic\ GYM\ Presentation.png'); /* coloque o caminho da imagem */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.wrap {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 70px;
}
.profile {
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
}
.photo {
    height: 200px;
    width: 100%;        
}
.img{
    height: 100%;
    width: 200px;
    border-radius: 50%;
    background: url("/src/img/ricksonphoto.png");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border: 4px solid #ed0023
}
.profile_name {
    font-weight: bold;
    font-size:18px;
    display: block;
    margin: 12px 0;
}
.at {
    font-size: 13px;
}

.custom-btn {
width: 100%;
height: 45px;
color: #fff;
border-radius: 5px;
padding: 10px 25px;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: block;
outline: none;
font-family: 'poppins';
}





.btn-8 {
background-color:#ed0023;
line-height: 42px;
padding: 0;
margin: 14px 0;
border: none;
}


.btn-8 span {
position: relative;
display: block;
width: 100%;
height: 100%;
}
.btn-8 span a{
text-decoration: none;
color: rgb(255, 255, 255);
}
.btn-8 span:hover a{
color: #ed0023;
}
.btn-8:before,
.btn-8:after {
position: absolute;
content: "";
right: 0;
bottom: 0;
background: #ed0023;
/*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
          -4px -4px 6px 0 rgba(116, 125, 136, .2), 
inset -4px -4px 6px 0 rgba(255,255,255,.5),
inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
transition: all 0.3s ease;
}
.btn-8:before{
height: 0%;
width: 2px;
}
.btn-8:after {
width: 0%;
height: 2px;
}
.btn-8:hover:before {
height: 100%;
}
.btn-8:hover:after {
width: 100%;
}
.btn-8:hover {
    background: white; /* fundo branco */
    color: #ed0023 !important; /* texto vermelho */
  }
.btn-8 span:hover{
color: #ed0023;
}
.btn-8 span:before,
.btn-8 span:after {
position: absolute;
content: "";
left: 0;
top: 0;
background: #ed0023;
/*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
          -4px -4px 6px 0 rgba(116, 125, 136, .2), 
inset -4px -4px 6px 0 rgba(255,255,255,.5),
inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
transition: all 0.3s ease;
}
.btn-8 span:before {
width: 2px;
height: 0%;
}
.btn-8 span:after {
height: 2px;
width: 0%;
}
.btn-8 span:hover:before {
height: 100%;
}
.btn-8 span:hover:after {
width: 100%;
}
/*     Social Icons    */  
.sociaicon{
display: flex;
flex-wrap: wrap;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;
width: 100%;
height: 100%;
}
.socialsanimate{
transition: transform 0s cubic-bezier(0.23, 1, 0.32, 1) 0s;
z-index: 0;
}

.socialsalign{
padding-left: 22px;
padding-right: 22px;
color: inherit;
text-decoration: underline;
}
.socialsanimate svg {
pointer-events: none;
}
.socialssvg{
margin-top: 8px;
fill: rgb(255, 254, 254);
width: 32px;
height: 32px;
}